:root {
    --rosa-claro: #f78da7;
    --cinza-claro: #F7F8F9;
    --amarelo: #fcfc30;
    --amarelo-escuro: #adad14;
    --azul: #465eff;
}

@font-face {
    font-family: SF PRO Display;
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

* {
    font-family: SF PRO Display;
}
