/* cor dos textos */

.text-blue {
    color: var(--azul) !important;
}

.text-yellow {
    color: var(--amarelo) !important;
}

/* bg color */

.bg-yellow {
    background-color: var(--amarelo);
}

.bg-pink {
    background-color: var(--rosa-claro);
}

.bg-gray {
    background-color: var(--cinza-claro);
}

/* botões personalizados */

.btn-outline-yellow {
    background-color: var(--amarelo);
}

.btn-outline-yellow:hover {
    background-color: var(--amarelo-secundario);
}

.btn-blue {
    background-color: var(--azul);
}

.btn-blue:hover {
    background-color: var(--azul);
}