/* cor dos textos */

.text-blue {
    color: var(--azul) !important;
}

.text-yellow {
    color: var(--amarelo) !important;
}

/* bg color */

.bg-yellow {
    background-color: var(--amarelo);
}

.bg-pink {
    background-color: var(--rosa-claro);
}

.bg-gray {
    background-color: var(--cinza-claro);
}

.bg-dash {
    background-color: var(--cinza-claro2);
}

/* botões personalizados */

.btn-yellow {
    background-color: var(--amarelo);
    transition-duration: 0.7s;
}

.btn-yellow:hover {
    background-color: var(--amarelo-escuro);
}

.btn-blue {
    background-color: var(--azul);
    transition-duration: 0.7s;
}

.btn-blue:hover {
    background-color: var(--azul-escuro);
}